<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <p>Felipe Alves </p>
    </div>
    <!-- Default to the left -->
    Todos os Direitos Reservados - 2021
  </footer>